# Exclude all files in the Development directory
Development/*
# Exclude all files in the Report directory
Report/*
# Exclude all images in the Images directory
Images/*
# Exclude all models in the Models directory
Models/*
# Exclude all videos
*.mp4
# Exclude all files in the LaTeX directory
LaTeX/*
# Exclude big weight files
Source/ckpts/model.pt