# Exclude all files in the Development directory
Development/*
# Exclude all files in the Report directory
Report/*
# Exclude all image files in the Images directory
Images/*
# Exclude all models in the Models directory
Models/*